@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

section img {
  width: 200px;
  border-radius: 50%;
}

figure:hover .capa {
  visibility: visible;
  opacity: 1;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 87%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border-radius: 50%;
}
figure {
  position: relative;
}
.icon {
  color: white;
  font-size: 20px;
}
.assistants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 860px; */
  align-items: center;
  /* margin: 0 auto; */
}

h1,
h2,
h3 {
  text-align: center;
}

.left {
  width: 800px;
  margin: 0 auto;
  /* padding-left: 0; */
}

/* .wrapper {
  width: 700px;
} */
